* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.box-nav {
  position: fixed;
  width: 11.8%;
  height: 100%;
  box-shadow: 2px 2px 2px 2px #999;
}
.logo {
  height: 35%;
  text-align: center;
  padding: 10px;
  margin-top: 20px;
}
.middle {
  height: 30%;
  text-align: center;
}
.resto {
  margin-top: 10px;
  margin-bottom: 10px;
}
.company {
  margin-top: 10px;
  margin-bottom: 10px;
}
.ventures {
  margin-top: 10px;
  margin-bottom: 10px;
}

.social {
  height: 30%;
  text-align: center;
}

.hg-box {
  height: 80%;
}

.box-content {
  position: absolute;
  height: 100%;
  width: 89%;
  margin-left: 210px;
}

.textbox {
  position: absolute;
  top: 400px;
  left: 80px;
}
p {
  color: white;
  font-size: 3em;
  text-align: left;
  text-shadow: 2px 2px 2px gray;
}
.explain {
  font-size: 0.8em;
  text-align: left;
}

.content-top-img {
  width: 98%;
  height: 65%;
  text-align: center;
  margin-left: 16px;
  opacity: 0.9;
  transition: transform 0.3s;
}
.content-top-img:hover {
  transform: scale(0.97, 0.97);
  filter: brightness(50%);
}

.con-main-firstbox {
  text-align: center;
  width: 100%;
  height: 350px;
  margin-top: 2px;
}
.firstbox {
  text-align: left;
  position: relative;
  width: 49%;
  height: 99%;
  display: inline-block;
}
.textbox1 {
  position: absolute;
  top: 160px;
  left: 50px;
}
#tb1 {
  font-size: 2em;
}

.firstbox:nth-child(1) {
  background-image: url("img/pic1.jpg");
  background-size: cover;
  transition: transform 0.3s;
}
.firstbox:nth-child(1):hover {
  transform: scale(0.97, 0.97);
  filter: brightness(50%);
}
.firstbox:nth-child(2) {
  background-image: url("img/pic2.jpg");
  background-size: cover;
  transition: transform 0.3s;
}
.firstbox:nth-child(2):hover {
  transform: scale(0.97, 0.97);
  filter: brightness(50%);
}

.con-main-secondtbox {
  text-align: center;
  width: 100%;
  height: 350px;
}
.secondtbox {
  text-align: left;
  position: relative;
  width: 49%;
  height: 99%;
  display: inline-block;
}
.textbox2 {
  position: absolute;
  top: 160px;
  left: 50px;
}
#tb2 {
  font-size: 2em;
}

.secondtbox:nth-child(1) {
  background-image: url("img/pic3.jpg");
  background-size: cover;
  transition: transform 0.3s;
}
.secondtbox:nth-child(1):hover {
  transform: scale(0.97, 0.97);
  filter: brightness(50%);
}
.secondtbox:nth-child(2) {
  background-image: url("img/pic4.jpg");
  background-size: cover;
  transition: transform 0.3s;
}
.secondtbox:nth-child(2):hover {
  transform: scale(0.97, 0.97);
  filter: brightness(50%);
}
.con-main-thirdbox {
  text-align: center;
  width: 100%;
  height: 350px;
}
.thirdbox {
  text-align: left;
  position: relative;
  width: 49%;
  height: 99%;
  display: inline-block;
}
.textbox3 {
  position: absolute;
  top: 160px;
  left: 50px;
}
#tb3 {
  font-size: 2em;
}
.thirdbox:nth-child(1) {
  background-image: url("img/pic5.jpg");
  background-size: cover;
  transition: transform 0.3s;
}
.thirdbox:nth-child(1):hover {
  transform: scale(0.97, 0.97);
  filter: brightness(50%);
}
.thirdbox:nth-child(2) {
  background-image: url("img/pic6.jpg");
  background-size: cover;
  transition: transform 0.3s;
}
.thirdbox:nth-child(2):hover {
  transform: scale(0.97, 0.97);
  filter: brightness(50%);
}
i {
  text-shadow: 2px 2px 2px gray;
}
